[Unit]
Description=Dropbear SSH Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dropbear -F -P /var/run/dropbear.pid

[Install]
WantedBy=multi-user.target
