[Unit]
Description=MusicBox autoplay
Wants=mopidy.service
After=mopidy.service

[Service]
Type=oneshot
ExecStart=/opt/musicbox/autoplay.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
