<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32000"> 
      <setting label="32010" type="executable" id="xbmc_starts"/>
      <setting label="32012" type="executable" id="player_starts"/>
      <setting label="32013" type="executable" id="player_stops"/>
      <setting label="32014" type="executable" id="player_pauses"/>
      <setting label="32015" type="executable" id="player_resumes"/>
      <setting label="32016" type="executable" id="screensaver_starts"/>
      <setting label="32017" type="executable" id="screensaver_stops"/>
    </category>
</settings>
