<!DOCTYPE html>
<html lang="en" ng-app="moped" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-iphone-precomposed.png" />

    <title ng-bind-template="{{pageTitle}} | Moped"></title>

    
    <link rel="stylesheet" type="text/css" href="assets/css/moped-0.2.2.css" />
    

  </head>

  <body>
    <div id="applicationhost">
      <aside id="menu" class="menu pane-col scroll-y">
        <div ng-include="'search/search.tpl.html'"></div>
        <div ng-include="'playlists/menu.tpl.html'"></div>
        <div ng-include="'radio/menu.tpl.html'"></div>
        <div class="panel">
          <a href="#/settings"><div class="panel-heading settings">Settings</div></a>
        </div>
      </aside>

      <div class="main pane-col" ng-class="{ outtaway: isSidebarVisibleForMobile }"ng-swipe-right="isSidebarVisibleForMobile = true" ng-swipe-left="isSidebarVisibleForMobile = false">
        
        <header>
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="toggleSidebar()" ng-class="{ outtaway: isSidebarVisibleForMobile }">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="title-bar">
            <div class="pull-right">
              Status: {{connectionState}}
            </div>
            <div class="pull-right working" ng-show="working">
            </div>
            <a href="#" ng-click="goBack" ng-show="isBackVisible">Back</a>
            <a href="#">Home</a>
          </div>
        </header>

        <section id="maincontent" class="maincontent pane-row scroll-y">
          <div class="container" ng-view>

          </div>
        </section>

        <section class="nowplaying pane-row">
          <div ng-include="'nowplaying/nowplaying.tpl.html'"></div>
        </section>

        <section class="controls pane-row">
          <div ng-include="'playercontrols/playercontrols.tpl.html'"></div>
        </section>
      </div>
    </div>

    
    <script type="text/javascript" src="assets/moped-0.2.2.js"></script>
    
  </body>
</html>
